<html>
<head>
    <meta charset="UTF-8">
    {%  block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

<h1>BookCrossing Page</h1>

<div class="col-3">
    <h2>Добавить акт взятия</h2>
    {{ form(form_act_of_taking) }}
</div>

<table class="table table-bordered table-striped table-hover ">
    <thead>
    <tr>
        <th>№</th>
        <th>Название книги</th>
        <th>Количество книг</th>
        <th>ФИО пользователя</th>
    </tr>
    </thead>
    <tbody>
    {% for valueActOfTaking in actOfTaking  %}

        <tr>
            <td>
                {{ loop.index }}
                </td>
            <td>
                {{ valueActOfTaking.getBook().getTitle() }}</td>
            <td>
                {{ valueActOfTaking.getCount }}
            </td>
            <td>
                {{ valueActOfTaking.getParticipant().getFio() }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


</body>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</html>