
<style>
    form label {
        display: block;
    }

    div {
        padding: 5px 0;
    }


</style>

<h1>BookCrossing Page</h1>

<div>
    <h2>Добавить акт взятия</h2>
    {{ form(form_act_of_taking) }}
</div>

<table>
    <thead>
    <tr>
        <th>№</th>
        <th>Название книги</th>
        <th>Количество книг</th>
        <th>ФИО пользователя</th>
    </tr>
    </thead>
    <tbody>
    {% for valueActOfTaking in actOfTaking  %}

        <tr>
            <td>
                {{ loop.index }}
                </td>
            <td>
                {{ valueActOfTaking.getBook().getTitle() }}</td>
            <td>
                {{ valueActOfTaking.getCount }}
            </td>
            <td>
                {{ valueActOfTaking.getParticipant().getFio() }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

